.buttons-dialogs {
  width: 100%;
}
.buttons-dialogs > button {
  margin-left: 1%;
}
.mat-mdc-form-field {
  margin-left: 5%;
  margin-top: 5%;
}
.mdc-checkbox
{
  margin-left: 15%;
}
.mat-mdc-card-title, .mat-mdc-card-subtitle {
    display: block;
    margin: 0;
    margin: 2% 2%;
}