<div class="content-modal" style="margin: 5% 5% 5% 5% !important;">
  <mat-card>
    <mat-card-title>Exclusão de Produto</mat-card-title>
    <mat-card-content>
      <form #form="ngForm">
        <mat-form-field class="full-width">
          <mat-label>SKU</mat-label>
          <input matInput [(ngModel)]="produto.sku" name="sku" readonly disabled  />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="produto.nome" name="nome" readonly disabled  />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Preço Base</mat-label>
          <input matInput type="number" [(ngModel)]="produto.precoBase" name="precoBase" readonly  disabled />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Estoque Atual</mat-label>
          <input matInput type="number" [(ngModel)]="produto.estoqueAtual" name="estoqueAtual" readonly disabled  />
        </mat-form-field>

        <mat-checkbox  disabled readonly  [checked]="produto.ativo">
          Ativo
        </mat-checkbox>


        <div *ngIf="message" class="message">{{ message }}</div>
        <mat-card-actions align="end">
          <div class="buttons-dialogs"> 
            <button (click)="delete()" aria-label="Excluir produto"
              matMiniFab 
              class="example-standalone-trigger">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="close()" matMiniFab aria-label="Fechar janela"
              class="example-standalone-trigger">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>