<div *ngIf="isLogged && isAdmin()">
    <mat-toolbar>
        <button [cdkMenuTriggerFor]="menu" matMiniFab aria-label="Menu da aplicação" class="menu-home example-standalone-trigger">
            <mat-icon>menu</mat-icon>
        </button>
        <ng-template #menu>
            <div class="example-menu" cdkMenu>
                <button class="example-menu-item" matButton (click)="seleciona('produto')"  >Produtos</button>
                <button class="example-menu-item" matButton (click)="seleciona('promocao')"  >Promoções</button>
                <mat-divider></mat-divider>
                <button class="example-menu-item" (click)="logout()" matButton   >Logout</button>
            </div>
        </ng-template>
    </mat-toolbar>
    
</div>
<div class="content-main">
    <app-produto *ngIf="isPath('produto')"></app-produto>
    <app-promotion *ngIf="isPath('produto')"></app-promotion>
</div>
