
.example-standalone-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.content-modal {
    margin: 5% 5% 5% 5% !important;
}

.mat-mdc-card {
    padding: 1% 1% 1% 1%;
}