.buttons-dialogs {
  width: 100%;
}
.buttons-dialogs > button {
  margin-left: 1%;
}
.mat-mdc-form-field {
  margin-left: 5%;
  margin-top: 5%;
}
.mdc-checkbox
{
  margin-left: 15%;
}
.mat-mdc-card-title, .mat-mdc-card-subtitle {
    display: block;
    margin: 0;
    margin: 2% 2%;
}
.buttons-dialogs > button {
    margin-left: 5%;
    width: 30%;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding-right: 7%;
}

.action-header {
    text-align: center;
}