<div class="content-modal" style="margin: 5% 5% 5% 5% !important;">
  <mat-card>
    <mat-card-title>Cadastro de Produto</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="save()" #form="ngForm">
        <mat-form-field class="full-width">
          <mat-label>SKU</mat-label>
          <input matInput [(ngModel)]="produto.sku" name="sku" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="produto.nome" name="nome" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Preço Base</mat-label>
          <input matInput type="number" [(ngModel)]="produto.precoBase" name="precoBase" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Estoque Atual</mat-label>
          <input matInput type="number" [(ngModel)]="produto.estoqueAtual" name="estoqueAtual" required />
        </mat-form-field>

        <mat-checkbox [checked]="produto.ativo">
          Ativo
        </mat-checkbox>


        <div *ngIf="message" class="message">{{ message }}</div>
        <mat-card-actions align="end">
          <button type="submit" matMiniFab aria-label="Novo produto" class="example-standalone-trigger">
            <mat-icon>save</mat-icon>
          </button>
          <button (click)="close()" matMiniFab aria-label="Novo produto" class="example-standalone-trigger">
            <mat-icon>close</mat-icon>
          </button>
          <button (click)="reset()" matMiniFab aria-label="Novo produto" class="example-standalone-trigger">
            <mat-icon>cleaning_services</mat-icon>
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>