<mat-card>
    <mat-card-title>Cadastro de Produto</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="save()" #form="ngForm">
            <mat-form-field class="full-width">
                <mat-label>SKU</mat-label>
                <input matInput [(ngModel)]="produto.sku" name="sku" required />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="produto.nome" name="nome" required />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Preço Base</mat-label>
                <input matInput type="number" [(ngModel)]="produto.precoBase" name="precoBase" required />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Estoque Atual</mat-label>
                <input matInput type="number" [(ngModel)]="produto.estoqueAtual" name="estoqueAtual" required />
            </mat-form-field>
            <mat-checkbox [checked]="produto.ativo">
                Ativo
            </mat-checkbox>

            <div *ngIf="message" class="message">{{ message }}</div>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Salvar</button>
                <button mat-button type="button" (click)="reset()">Limpar</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>



<!-- Produto Grid -->
<mat-card class="mt-4">
  <mat-card-title>Produtos</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="Resultset" class="mat-elevation-z8 full-width">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let produto"><button (click)="select(produto)">{{ produto.id }}</button> </td>
      </ng-container>

      <!-- SKU Column -->
      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef>SKU</th>
        <td mat-cell *matCellDef="let produto">{{ produto.sku }}</td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let produto">{{ produto.nome }}</td>
      </ng-container>

      <!-- Preço Base Column -->
      <ng-container matColumnDef="precoBase">
        <th mat-header-cell *matHeaderCellDef>Preço Base</th>
        <td mat-cell *matCellDef="let produto">{{ produto.precoBase }}</td>
      </ng-container>

      <!-- Estoque Atual Column -->
      <ng-container matColumnDef="estoqueAtual">
        <th mat-header-cell *matHeaderCellDef>Estoque Atual</th>
        <td mat-cell *matCellDef="let produto">{{ produto.estoqueAtual }}</td>
      </ng-container>

      <!-- Ativo Column -->
      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef>Ativo</th>
        <td mat-cell *matCellDef="let produto">
          <mat-checkbox [checked]="produto.ativo" disabled></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'sku', 'nome', 'precoBase', 'estoqueAtual', 'ativo']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'sku', 'nome', 'precoBase', 'estoqueAtual', 'ativo'];"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-grid-list cols="4" >
    <ng-container *ngFor="let item of Resultset">
        <mat-grid-tile>{{item.sku}}</mat-grid-tile>
        <mat-grid-tile>{{item.nome}}</mat-grid-tile>
        <mat-grid-tile>{{item.precoBase}}</mat-grid-tile>
        <mat-grid-tile>{{item.estoqueAtual}}</mat-grid-tile>
    </ng-container>
</mat-grid-list>