<!-- Produto Grid -->
<mat-card class="mt-4">
    <mat-card-title>Produtos</mat-card-title>
    <mat-card-content>
        <mat-toolbar>

            <mat-toolbar-row>
                
                <span class="example-spacer"></span>

                <button (click)="openDialog()" matMiniFab aria-label="Novo produto" class="example-standalone-trigger">
                    <mat-icon>add_box</mat-icon>
                </button>

            </mat-toolbar-row>
        </mat-toolbar>
        <table mat-table [dataSource]="Resultset" class="mat-elevation-z8 full-width">



            <!-- SKU Column -->
            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef>SKU</th>
                <td mat-cell *matCellDef="let produto">{{ produto.sku }}</td>
            </ng-container>

            <!-- Nome Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let produto">{{ produto.nome }}</td>
            </ng-container>

            <!-- Preço Base Column -->
            <ng-container matColumnDef="precoBase">
                <th mat-header-cell *matHeaderCellDef>Preço Base</th>
                <td mat-cell *matCellDef="let produto">{{ produto.precoBase }}</td>
            </ng-container>

            <!-- Estoque Atual Column -->
            <ng-container matColumnDef="estoqueAtual">
                <th mat-header-cell *matHeaderCellDef>Estoque Atual</th>
                <td mat-cell *matCellDef="let produto">{{ produto.estoqueAtual }}</td>
            </ng-container>

            <!-- Ativo Column -->
            <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef>Ativo</th>
                <td mat-cell *matCellDef="let produto">
                    <mat-checkbox [checked]="produto.ativo" disabled></mat-checkbox>
                </td>
            </ng-container>


            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let produto">
                    <mat-card-actions align="start">
                        <div class="buttons-dialogs">
                            <button matMiniFab class="example-standalone-trigger" (click)="select(produto)">{{
                                produto.id
                                }}<mat-icon>edit</mat-icon></button>
                            <button matMiniFab class="example-standalone-trigger" (click)="delete(produto)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['sku', 'nome', 'precoBase', 'estoqueAtual', 'ativo','id']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['sku', 'nome', 'precoBase', 'estoqueAtual', 'ativo','id'];">
            </tr>
        </table>
    </mat-card-content>
</mat-card>